body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.white-text {
  color:white;
}

.margin-top {
  margin-top: 40px;
}

.logo {
  width: 15%;
  height: 15%;
  margin-right: 20px;
  margin-top: 10px;
}

header {
  display:flex;
  flex-direction: row;
  align-items: center;
}

.nav-parent {
  border-bottom: 2px solid #FFBE00;
}

nav {
  margin: 0 auto;
  max-width: 960px;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #333;
  text-decoration: none;
  font-weight: lighter;
  font-size: 16px;
}

nav a:hover {
  color: #FFBE00;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #5A5F65;
  color: white;
  padding: 20px;
}

.footer-parent {
  width: 100%;
  background-color: #5A5F65;
  margin-top: auto;
}

.vijestiNaslov {
  border: 2px solid #FFBE00;
  border-radius: 5px;
}

.article {
  display: flex;
  margin: 20px;
}

article a {
  text-decoration: none;
  color: black;
}

.article-title {
  color: white;
  text-decoration: none;
}



.sport_img {
  width: 200px;
  height: 150px;
  margin-right: 10px;
}

.sport_img img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.media_body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.title {
  margin: 0;
  font-size: 18px;
}

.description {
  margin: 10px 0;
  font-size: 20px;
}

.article-container {
  max-width: 960px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  width: 75%;
}

.category {
  font-size: 10px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  background-color: #FFBE00;
  width: 100%;
}

.category-title {
  color: white;
  font-size: 20px;
  padding: 10px;
}

.category-container {
  max-width: 960px;
  margin: 0 auto;
  width: 100%;
}

.edit-input {
  max-width: 100%;
}

.category-group {
  margin-bottom: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 28px;
  margin-top: 20px;
}

.title-detail {
  font-size: 28px;
  margin-top: 20px;
  margin-left:100px;
}


.date {
  font-size: 16px;
  margin-top: 10px;
}

.date-detail {
  font-size: 16px;
  margin-top: 10px;
  margin-left:100px;
}

.image-container {
  margin-top: 20px;
}

.image-container-detail {
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 860px;
  width: 75%;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.brief-description {
  font-weight: bold;
  margin-top: 20px;
  margin-left:100px;
  font-size:24px;
}

.long-description {
  margin-top: 10px;
  text-align: left;
  margin-left:100px;
  font-size:18px;
}

.error-message {
  color: red;
}


.login-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

main {
  margin: 0 auto;
  background-color: #fff;
  margin-top: 20px;
  max-width: 960px;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 960px;
  margin-top: 50px;
  border: 10px black;
}

.form-item {
  margin-bottom: 10px;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-checkbox {
  display: flex;
  flex-direction: row;
}

.form-field-label {
  margin-bottom: 5px;
}

.form-field-input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-submit-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.form-submit-button:hover {
  background-color: #0056b3;
}

.form-message {
  color: red;
  margin-top: 5px;
}

.forms-container {
  width: 100%;
}

.username {
  color:red;
}

.form-news {
  background-color: #ADD8E6;
  border-radius: 10px;
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
}

.form-edit {
  background-color: #ffff80;
  border-radius: 10px;
  padding: 5px;
}

.form-registration {
  background-color: #a2d5c6;
  border-radius: 10px;
  padding: 25px;
}

.form-login {
  background-color: #007fff;
  border-radius: 10px;
  padding: 25px;
}

  
textarea {
  max-width: 300px;
}

.naslov {
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

select {
  padding: 5px;
  margin-bottom: 10px;
}

input[type="checkbox"] {
  margin-top: 5px;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}



@media only screen and (max-width: 890px) {

  .edit-input {
    max-width: 50%;
  }

  textarea {
    max-width: 50%;
  }

  .description {
    margin: 10px 0;
    font-size: 14px;
    word-break: break-all;
  }

  .title {
    margin: 0;
    font-size: 18px;
    word-break: break-all;
  }

  .date-detail {
    font-size: 16px;
    margin-top: 10px;
    margin-left:5%;
  }

  .brief-description {
    font-weight: bold;
    margin-top: 20px;
    margin-left:5%;
    word-break: break-all;
  }
  
  .long-description {
    margin-top: 10px;
    text-align: left;
    margin-left:5%;
    word-break: break-all;
  }

  .title-detail {
    font-size: 28px;
    margin-top: 20px;
    margin-left:5%;
    word-break: break-all;
  }

  .article-container {
    max-width: 960px;
    margin: 0 auto;
    background-color: #fff;
    margin-top: 20px;
    padding: 0px;
  }

  .form-news {
    margin-left: 0px;
    margin-right: 0px;
  }

  .form-edit {
    margin-left: 20px;
    margin-right: 20px;
  }

  .form-registration {
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .form-login {
    margin-left: 20px;
    margin-right: 20px;
  }

  .logo {
    width: 90px;
    height: 40px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  nav {
    flex-direction: column;
    align-items: center;
  }

  nav ul {
    flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: center;
  }

  nav li {
    margin: 10px 0;
    width: 100%;
    text-align: center;
  }

  footer {
    padding: 20px 0;
  }

  footer p {
    margin: 0;
    text-align: center;
  }
}
